# NOTE - when you add more env variables, make sure to update the envSchema in ./lib/config/validation otherwise the validatiuon will not work.
# Optionally you can add getters to ./lib/env/env.service.ts to include the env variables in the injected Env Object.
# doing this will provide you basic validation on env variables (you can have extensive validation by editing the schema) 
# and a centralized env object from a class that can be injected anywhere.

APP_NAME="appname"
DATABASE_URL="postgresql://pguser:pgpassword@localhost:5434/appname"
JWT_SECRET=""
REDIS_HOST="localhost"
REDIS_PORT="6379"
NODE_ENV="development"

LOG_LEVEL="INFO"
LOG_WARNINGS_TO_DB="false"

# DOCKER VARIABLES
POSTGRES_USER="pguser"
POSTGRES_PASSWORD="pgpassword"
POSTGRES_DB="appname"